.hoverContainer {
  position: relative;
  display: inline-block;
}

.fadeInImg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.triggerText {
  cursor: pointer;
  color: blue;
  font-family: 'Times New Roman', Times, serif;
}

.book {
  top: 630px;
  left: 936px;
  right: 150px;
  bottom: 2745px;
}

.bune {
  top: 110px;
  left: 736px;
  right: 443px;

}

.phone {
  top: 637px;
  left: 128px;
  right: 982;
}

.introductionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: calc( 100vw - 300px );
  /* 1600px; */
}

.introductionText {
  font-size: 64px;
  display: inline-block;
  margin: 282px 222px 2px 222px;
  max-width: 1068px;
  max-height: 270px;
}


.subText{
  width: 1068px;
  margin-top: 349px;
}

.subTextLeft{
  width: 747px;
  float: left;
  font-weight: 400;
  font-size: 24px;
}

.subTextRight {
  width: 756px;
  float: right;
  margin-top: 69px;
  font-weight: 400;
  font-size: 24px;
  
}



/* @media only screen and (max-width: 600px) {
  .introductionText {
    font-size: 32px;
  }

  .introductionContainer {
    min-width: calc( 100vw - 20px );
  }
} */