.hoverContainer {
  display: inline-block;
}

.fadeInImg {
  opacity: 0;
  transition: opacity 0.05s ease;
  position: absolute;
}

.triggerText {
  cursor: pointer;
  color: blue;
  font-family: 'Mate';
  font-weight: 400;
  font-size: 52px;
}

.book {
  top: 498px; /* Adjust position relative to the introduction text */
  left: 936px;
}

.bune {
  top: 24px; /* Adjust position relative to the introduction text */
  left: 736px;

}

.phone {
  top: 498px; /* Adjust position relative to the introduction text */
  left: 128px;
}

.introductionContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: calc( 100vw - 300px );
  /* 1600px; */
}

.introductionText {
  font-family: 'Figtree';
  font-weight: 300;
  font-size: 48px;
  display: inline-block;
  margin: 240px 222px 2px 222px;
  width: auto;
  height: auto;
}


.subText{
  width: 1068px;
  margin-top: 356px;
}

.subTextLeft{
  width: 747px;
  float: left;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Figtree';
}

.subTextRight {
  width: 756px;
  float: right;
  margin-top: 69px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Figtree';
}



/* Existing CSS above... */

/* Responsive adjustments for viewports with a width of 767px or less */
@media only screen and (max-width: 767px) {
  
  .introductionContainer {
    margin-top: 100px;
    min-width: 100%; /* Adjust container width */
    padding: 0 15px; /* Add some padding */
    max-height: fit-content;
    margin-bottom: 100px;
  }
  
  .introductionText {
    font-size: 38px; /* Reduce font size */
    margin: 20px; /* Adjust margins */
    max-width: 100%; /* Ensure it doesn't overflow */
    text-align: center;
  }
  
  .subText {
    width: 100%; 
    margin-top: 218px;
    padding: 20px;
  }

  .subTextLeft, .subTextRight {
    width: 100%; 
    float: none; 
    margin-bottom: 40px;
    font-size: 18px; /* Adjust font size for readability */
  }

  .triggerText {
    font-size: 40px; /* Adjust trigger text font size */
  }
  
  .fadeInImg, .book, .bune, .phone {
    display: none;
  }
}
