
.button {
  padding: 11px 50px;
  margin-right: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 50px;
  border: 1px solid #909090;
  background-color: white;
  font-family: 'Figtree';
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  height: 54px;
  transition: background-color ease-in 160ms;
}

.small{
  
  padding: 15px 30px;
  margin-bottom: 0px;
  margin-top: auto;
  border-radius: 50px;
  border-width: 1px;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  transition: none;
}

.button:hover {
  cursor: pointer;
  background-color: lightgray;
  border-color: lightgray;
}

.enabled {
  background-color: lightgray;
  border-color: lightgray;
}