.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 50px;
    margin-bottom: 20px;
}

.leftImage, .middleImage, .rightImage {
    flex: 1;
    display: flex;
    overflow: hidden; 
}

.leftImage {
    margin-right: 5px;
    /* flex-grow: 1.2; */
}

.middleImage {
    margin: 0 5px;
    /* flex-grow: 1; */
}

.rightImage {
    margin-left: 5px;
    /* flex-grow: 1.15; */
}

.leftImage img, .middleImage img, .rightImage img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.compress {
    max-width: 735px;
}

.verticalImage {
    flex: 1;
    margin-bottom: -1px;
    margin-top: -1px;
    height: 362px;
}

.horizontalImage {
    flex: 2;
    height: 362px;
    width: auto;

}


