
.category{
  display: flex;
  justify-content: center;
  margin: 152px;
  margin-left: 27px;
  margin-right: 102px;
  font-family: 'Avenir';
  height: 300px;
  padding-bottom: 74px;
}

.filterText{
  display: flex;
  transform: rotate(-90deg);
  font-size: 18px;
  white-space: nowrap;
  align-self:flex-start;
  
}

.categoryButtons{
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  margin-left: 65px;
}

.label{
  padding-top: 93px;
}