
.category{
  display: flex;
  justify-content: center;
  margin: 52px 30px;
  font-family: 'Figtree';
  height: 250px;
  padding-bottom: 74px;
  
}

.filterText{
  display: flex;
  transform: rotate(-90deg);
  font-size: 18px;
  white-space: nowrap;
  align-self: flex-start;
  font-family: 'Figtree';
  color: lightgray;
}

.categoryButtons{
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  margin-left: 0;
  margin-right: 32px;
  font-family: 'Figtree';
  font-size: 24px;
}

.label{
  padding-top: 76px;
}

@media only screen and (max-width: 767px) {
  .category {
    height: auto; /* Adjust as needed for mobile */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin: 32px 44px;
    padding-bottom: 0;
  }

  .filterText {
    font-size: 18px; /* Adjust as needed for mobile */
    transform: none;
    margin-bottom: 20px;
  }

  .categoryButtons {
    margin-left: 0; /* Adjust as needed for mobile */
    font-size: 20px; /* Adjust as needed for mobile */
    margin-right: 0;
  }
  .label {
    padding-top: 0
  }
}