.container {
    display: block;
    margin-top: 102px;
    margin-right: auto;
    margin-bottom: 102px;
}

.text {
    font-size: 24px;
    text-align: left;
    max-width: 746px;
}

.underText {
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    .container {
        margin-top: 50px; /* Adjust margin for smaller screens */
        margin-bottom: 50px; /* Adjust margin for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
        padding-right: 20px; /* Adjust padding for smaller screens */
    }

    .text {
        font-size: 18px; /* Adjust font size for smaller screens */
        max-width: 100%; /* Ensure text takes up full width */
        margin-bottom: 30px;
    }

    .underText {
        margin-top: 5px; /* Adjust margin for smaller screens */
    }
}