.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 100px;
}

.textSide {
    max-width: 491px;
    display: flex;
    flex-direction: column;
    margin-right: 52px;
}

.header {
    font-family: 'Mate';
    font-size: 36px;
    text-align: left;
}

.subText {
    font-family: 'Figtree';
    font-size: 24px;
    text-align: left;
    margin-top: 36px;
}

.imageContainer {
    width: 50%;
    max-height: auto;
    display: flex;
    flex-grow: 1;
    margin-bottom: -1px;
}

@media only screen and (max-width: 767px) {
    .container {
        justify-content: center; 
        
    }

    .textSide {
        max-width: none; 
        width: 100%; 
        margin: 30px;
        line-height: 2;
    }

    .header {
        font-size: 32px; 
    }

    .subText {
        font-size: 18px; 
        margin-top: 20px;
    }

    .imageContainer {
        flex-basis: 100%; 
        max-width: 100%; 
        margin-top: 30px; 
    }
}
