.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 100px;
}

.textSide {
    max-width: 491px;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Mate';
    font-size: 36px;
    text-align: left;
}

.subText {
    font-family: 'Figtree';
    font-size: 24px;
    text-align: left;
    margin-top: 36px;
}

.imageContainer {
    width: 100%;
    max-height: auto;
    display: flex;
    flex-grow: 1;
    margin-bottom: -1px;
}

@media only screen and (max-width: 767px) {
    .container {
        justify-content: center; /* Center content horizontally */
        
    }

    .textSide {
        max-width: none; /* Remove max-width */
        width: 100%; /* Take up full width */
        margin: 30px;
        line-height: 2;
    }

    .header {
        font-size: 32px; 
    }

    .subText {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-top: 20px; /* Adjust margin for smaller screens */
    }

    .imageContainer {
        flex-basis: 100%; /* Make image container take up full width */
        max-width: 100%; /* Ensure image container doesn't overflow */
        margin-top: 30px; /* Adjust margin for smaller screens */
    }
}
