.backButton {
    max-width: 267px;
    margin: 50px 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;

}

@media only screen and (max-width: 767px) {
    .backButton {
        margin: 20px 0; 
        padding: 0 28px;
        max-width: 256px;
        justify-content: space-between;
        font-size: 18px;
    }
}