.backButton {
    max-width: 267px;
    margin: 50px 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;

}

@media only screen and (max-width: 767px) {
    .backButton {
        margin: 20px 0; /* Adjusted margin for smaller screens */
        padding: 0 28px; /* Add padding to space out the items */
        max-width: 300px; /* Allow the button to take up full width */
        justify-content: space-between; /* Center items horizontally */
    }
}