.container {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    margin-top: 50px;
    margin: auto;
    height: 656px; 
    width: 1027px;
}

.secondImage {
    margin-left: 10px;
    
}

.firstImage, .secondImage {
    flex: 1; 
    position: relative;
    overflow: hidden; 
}

.verticalImage {
    flex: 0.6;
    margin-bottom: -1px;
    margin-top: -1px;
    overflow: hidden;


}

.horizontalImage {
    flex: 2;
}

.full {
    width: auto;
}

@media only screen and (max-width: 767px) {
    .container {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        height: auto; /* Allow the height to adjust based on content */
        width: 100%; /* Make the container fill the entire width of the screen */
        max-width: 100%; /* Ensure the container doesn't overflow */
    }

    .firstImage, .secondImage, .verticalImage, .horizontalImage {
        flex: none; /* Remove flex properties to allow images to maintain their original dimensions */
        width: 100%; /* Make images take up full width on smaller screens */
        margin-left: 0; /* Remove left margin to prevent overlapping */
        margin-bottom: 10px; /* Add bottom margin for spacing between images */
    }
}