.container {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    margin-top: 50px;
    margin: auto;
    height: 587px; 
    width: 1027px;
}

.secondImage {
    margin-left: 10px;
    
}

.firstImage, .secondImage {
    flex: 1; 
    position: relative;
    overflow: hidden; 
}

.verticalImage {
    flex: 0.6;
    margin-bottom: -1px;
    margin-top: -1px;
   


}

.horizontalImage {
    flex: 2;
}

.full {
    width: auto;
    overflow: hidden;
}
