
.header {
  display: flex;
  padding-left: 42px;
  padding-right: 16px;
  font-size: 24px;
  font-family: 'Figtree';
}

.linkToHome {
  display: inline-block;
  margin-top: 52px;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 52px;
}

.headerButton {
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .header {
    display: flex;
    padding-left: 20px; /* Reduced padding for smaller screens */
    padding-right: 20px;
    font-size: 18px; /* Smaller font size for limited space */
    font-family: 'Figtree';
    flex-wrap: wrap; /* Allows items to wrap if needed */
  }

  .logoWrapper {
    margin: auto;
    margin-top: 10px;
  }

  .linkToHome {
    margin-top: 38px;
  }


  .headerButtons {
    display: none;
  }

  .headerButton {
    margin-left: 10px; /* Reduced margin for closer button grouping */
    margin-right: 10px;
    cursor: pointer;
  }

  .burger {
    display: block;
    position: absolute;
    top: 49px;
    right: 32px;
  }


}
