.video {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;    
}

.container {
    max-width: 1002px;
    max-height: 664px;
    margin: auto;
}
@media only screen and (max-width: 767px) {
    .video {
        width: 100%; /* Make the video fill the entire width of its container */
        height: auto; /* Allow the height to adjust proportionally */
    }
}