.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
}

.image {
    margin: 5px;
    display: flex;
    flex: 1;
}

@media only screen and (max-width: 767px) {
    .container {
        flex-direction: row; /* Change flex direction to column for smaller screens */
        align-items: center; /* Align items to the center vertically */
        max-width: fit-content;
        max-height: fit-content;
    }

    .image {
        flex-basis: calc(50% - 84px); /* Set the width to 50% with 10px margin */
        margin: 5px; /* Adjust margin for spacing between images */
        
    }
}