.container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 102px;
}

.paragraphContainer {
    max-width: 741px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text {
    font-size: 24px;
    text-align: left;
}

.imageContainer {
    max-width: 505px;
    max-height: 176px;
    display: flex;
    flex-grow: 1;
}

@media only screen and (max-width: 767px) {
    .container {
        justify-content: center; /* Center align items */
        margin-bottom: 20px;
    }
    
    .paragraphContainer {
        max-width: 100%; /* Take up full width */
        margin: 20px 20px 40px;
    }
    
    .text {
        font-size: 20px; /* Reduce font size */
    }
    
    .imageContainer {
        max-width: 100%; /* Take up full width */
        max-height: auto; /* Allow height to adjust based on content */
    }
}
