.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch; 
    margin-top: 50px;
    height: auto; 
}

.secondImage {
    margin-left: 10px;
    
}

.firstImage, .secondImage {
    flex: 1; 
    position: relative;
    overflow: hidden; 
}

@media only screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /* Allow items to wrap on smaller screens */
        height: auto; /* Allow container height to adjust based on content */

    }

    
    .firstImage, .secondImage {
        width: 100%; /* Make images take up full width on smaller screens */
        margin-left: 0; /* Remove left margin to prevent overlapping */
        margin-bottom: 10px; /* Add bottom margin for spacing between images */
    }
    }